<!-- homepage -->
<div class="container">
  <div class="profile">
    <img alt="default user" src="assets/profile.png" />
    <h3>User Info:</h3>
    <ng-container *ngIf="!showEditMode">
      <div class="flex">
        <p>Username:</p>
        <p>{{ profileDetails?.username }}</p>
      </div>
      <div class="flex">
        <p>Email:</p>
        <p>{{ profileDetails?.email }}</p>
      </div>
      <div class="flex">
        <p>Phone:</p>
        <p>{{ profileDetails?.tel }}</p>
      </div>
      <button (click)="onEditToggle()" class="edit-button">Edit</button>
    </ng-container>

    <form (ngSubmit)="save()" *ngIf="showEditMode" [formGroup]="profileForm">
      <div class="flex">
        <p>Username:</p>
        <input
          formControlName="username"
          id="username"
          name="username"
          type="text"
          value="Johny"
        />
      </div>
      <div class="flex">
        <p>Email:</p>
        <input
          formControlName="email"
          id="email"
          name="email"
          type="email"
          value="john.doe@gmail.com"
        />
      </div>
      <div class="flex">
        <p>Phone:</p>
        <div>
          <select class="tel" id="select-tel" name="select-tel">
            <option value="00359">+359</option>
          </select>
          <input
            formControlName="tel"
            id="tel"
            name="tel"
            type="text"
            value="885 888 888"
          />
        </div>
      </div>
      <button (click)="onEditToggle()" class="red-button">Cancel</button>
      <button type="submit" class="green-button">Save</button>
    </form>
  </div>
</div>
